body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f6f8;
  color: #2c3e50;
  text-align: center;
}


.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
  color: #2c3e50;
}
